@import url('https://fonts.googleapis.com/css2?family=Poppins&Inter:wght@400&display=swap');

$primary: #26bfcd;
$secondary: #333333;
$tertiary: #ff6666;
$danger: #dc3545;
$warning: #ffc107;
$success: #28a745;
$info: #dcda68;
$light: #f8f9fa;
$dark: #343a40;
$white: #ffffff;
$disabled: #6c757d;
$black: #000000;
$gray: #6c757d;

$transparent: transparent;

$font-family: 'Inter', sans-serif;
$font-weight: 400;
$font-size-medium: 1rem;
$font-size-small: 0.75rem;
$font-size-large: 1.23rem;

$padding-button-small: 4px 8px;
$padding-button-medium: 8px 16px;
$padding-button-large: 12px 20px;

$button-border: solid 1px $dark;
$transition-duration: 0.3s;
$transition-style: 0.3s ease-in-out;

$height-base: 60px;
$width-base: 210px;
$padding-right-base: 22px;
$psuedoclass-offset-base: 18px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  background-color: $dark;
  color: $light;
}

h1,
h2,
li {
  font-family: $font-family;
  color: $light
}

h3 {
  font-family: 'Poppins', sans-serif;
  text-decoration: underline;
  color: $light
}

h1 {
  color: $light;
  margin: 18px auto;
}

h2 {
  color: $light;
  margin: 24px auto;
}

li {
  color: $light;
}

button {
  margin: 20px auto;
}

hr, li  {
  border-color: $light;
}

.rfs-atomic-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    margin: 0 0 1rem;
    padding: 0;
    width: 100%;
    max-width: 300px;
    text-align: center;

    a {
      display: block;
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      text-decoration: none;
      color: $tertiary;
      transition: all 0.3s;

      &:hover {
        background-color: #f4f4f4;
      }
    }
  }
}
